:root {
  /* Colors */
  --color-background: #282C34;
  --color-primary: #61DAFB;
  --color-highlight: #C9EFFB;
  --color-inactive: #48A0B8;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TimerPage {
  background-color: var(--color-background);
  color: var(--color-primary);
  text-align: left;
  min-height: 100vh;
}

.TimerList {
  list-style-type: none;
}

.IconButton {
  color: var(--color-primary);
  cursor: pointer;
}

.IconButton:hover {
  color: var(--color-highlight);
}